$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;


:root{
  text-align: center;
  font-size: 16px;
}

.App {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;

  main {
    margin: 10%;
    margin-bottom: auto;
    text-align: left;
  }
  .navWrapper {
    margin: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
    
    a{
      text-decoration: none;
      color: black;
    }
  }
}
